/.venv/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Flutter & Dart tooling
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# Build output
build/
**/build/
**/coverage/

# Flutter platform tooling
**/android/.gradle/
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
**/ios/Pods/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

# IDE metadata
.idea/
*.iml
*.ipr
*.iws
.vscode/

# General
*.log
.DS_Store
